<div>
    <div class="content-box">
        <table width="80%">
            <tr>
                <td>
                    <h1>League Standings</h1>
                </td>
                <td>
                    <h4>Select Season: </h4>
                    <select [(ngModel)]="selectedSeason" (ngModelChange)="getStandingsBySeason()">
                        <option *ngFor="let season of seasons" [value]="season">{{ season }}</option>
                    </select>
                </td>
            </tr>           
        </table> 
    </div>
    
    <div class="content-table">
        <table class="main" width="100%">
            <tr>
                <th>#</th>
                <th colspan="2"></th>
                <th class="clickable" (click)="toggleSort('games_played')">
                    GP
                    <span *ngIf="sortColumn === 'games_played'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th class="clickable" (click)="toggleSort('points')">
                    PTS
                    <span *ngIf="sortColumn === 'points'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th class="clickable" (click)="toggleSort('wins')">
                    Wins
                    <span *ngIf="sortColumn === 'wins'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th class="clickable" (click)="toggleSort('losses')">
                    Losses
                    <span *ngIf="sortColumn === 'losses'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th class="clickable" (click)="toggleSort('ties')">
                    Ties
                    <span *ngIf="sortColumn === 'ties'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th class="clickable" (click)="toggleSort('goals_for')">
                    GF
                    <span *ngIf="sortColumn === 'goals_for'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th class="clickable" (click)="toggleSort('goals_against')">
                    GA
                    <span *ngIf="sortColumn === 'goals_against'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th class="clickable" (click)="toggleSort('differential')">
                    DIFF
                    <span *ngIf="sortColumn === 'differential'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
            </tr>
            <tr class="main" *ngFor="let team of teams; let i = index">
                <td class="main" style="text-align: center;">{{ (i + 1) }}</td>
                <td class="main" style="text-align: center;">
                    <a [routerLink]="['/teams', team.id]">
                    <img src="{{ team.logo }}" width="50">
                    </a>
                </td>
                <td class="main">
                    <a [routerLink]="['/teams', team.id]">
                    <p><b>{{ team.name }}</b></p>
                    </a>
                </td>
                <td class="main">
                    <p>{{ team.games_played }}</p>
                </td>
                <td class="main">
                    <p>{{ team.points }}</p>
                </td>
                <td class="main">
                    <p>{{ team.wins }}</p>
                </td>
                <td class="main">
                    <p>{{ team.losses }}</p>
                </td>
                <td class="main">
                    <p>{{ team.ties }}</p>
                </td>
                <td class="main">
                    <p>{{ team.goals_for }}</p>
                </td>
                <td class="main">
                    <p>{{ team.goals_against }}</p>
                </td>
                <td class="main">
                    <p>{{ team.differential }}</p>
                </td>
            </tr>
        </table>
    </div>
</div>