<h1 class="mb-4 pt-8 font-bold text-4xl leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Admin Hub</h1>
<ul class="flex flex-wrap justify-center pb-10">
    <li class="w-full md:w-1/3 p-4">
        <div class="max-w-lg p-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a (click)="setAction('addToSchedule')">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Add to Schedule</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Add games to the BBHL schedule. Not for real, just in this app. No one is actually going to show to the games you schedule.
            </p>
            <a (click)="setAction('addToSchedule')" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Add to Schedule
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </li>
    <li class="w-full lg:w-1/3 p-4">
        <div class="max-w-lg p-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a (click)="setAction('recordResult')">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Record Results</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Enter points & scores for scheduled games in this intuitive boxscore generator.
            </p>
            <a (click)="setAction('recordResult')" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Record Results
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </li>
    <li class="w-full lg:w-1/3 p-4">
        <div class="max-w-lg p-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a (click)="setAction('editPlayer')">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Edit Player Info</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                This function is coming soon! You can click this button if you really want but nothing will happen.
            </p>
            <a (click)="setAction('editPlayer')" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Edit Player
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </li>
</ul>

<div *ngIf="action === 'addToSchedule'">
    <h2 class="mb-4 pt-8 font-bold text-2xl leading-none tracking-tight text-gray-900 dark:text-white">Add to Schedule</h2>
    <app-schedule-form></app-schedule-form>
</div>

<div *ngIf="action === 'recordResult'">
    <h2 class="mb-4 pt-8 font-bold text-2xl leading-none tracking-tight text-gray-900 dark:text-white">Record Results</h2>
        <div>
            <label for="selectedGame">Select game</label>
            <select required id="game_id" name="selectedGame" [(ngModel)]="selectedGame" (change)="generateBoxscore()">
                <option value="" selected disabled>Select...</option>
                <option *ngFor="let game of upcomingGames" [ngValue]="game">
                    {{ game.game_id }}: {{ game.home_team }} vs. {{ game.away_team }} ({{ game.formatted_date }} &#64; {{ game.time }})
                </option>
            </select>
        </div>
    <div *ngIf="selectedGame !== null">
        <div class="content-box">
            <table width="80%" align="center">
                <tr>
                    <td align="right">
                        <img [src]="matchup[0].logo" width="150">
                    </td>
                   <td align="center">
                        <h1>VS.</h1>
                   </td>
                    <td align="left">
                        <img [src]="matchup[1].logo" width="150">
                    </td>
                </tr>
                <tr>
                    <td  colspan="3" width="100%" align="center">
                        <h4>Game # {{ selectedGame.game_id }}<br>
                            {{ selectedGame.formatted_date }} &#64; {{ selectedGame.time }}
                        </h4>
                    </td>
                </tr>          
            </table> 
        </div>
    
        <h2>Rosters</h2>
        <p>Enter stats in the table below and submit your gamesheet when ready.</p>
        <div>
            <table width="100%">
                <tr>
                    <td width="50%" *ngFor="let team of matchup; let i = index">
                        <table class="main boxscore" width="100%">
                            <tr>
                                <th>#</th>
                                <th width="35%">
                                    Name
                                </th>
                                <th>
                                    Goals
                                </th>
                                <th>
                                    Assists
                                </th>
                                <th>
                                    PIMS
                                </th>
                                <th>
                                    GWG
                                </th>
                            </tr>
                            <tr class="main" *ngFor="let player of matchup[i].roster; let j = index">
                                <td class="boxscore" style="text-align: center;">
                                    {{ (j+1) }}
                                </td>
                                <td class="boxscore" style="padding-left: 8px; text-align: left;">
                                    <p><b>{{ player.name }}</b></p>
                                </td>
                                <td class="boxscore">
                                    <input class="boxscore" type="number" (change)="statChange(player, matchup[i], $event, 'goals')">
                                </td>
                                <td class="boxscore">
                                    <input class="boxscore" type="number" (change)="statChange(player, matchup[i], $event, 'assists')">
                                </td>
                                <td class="boxscore">
                                    <input class="boxscore" type="number" step="2" (change)="statChange(player, matchup[i], $event, 'pims')">
                                </td>
                                <td class="boxscore">
                                    <input class="boxscore" type="number" (change)="statChange(player, matchup[i], $event, 'gwg')">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: right">
                                    <h3>Totals:</h3>
                                </td>
                                <td>
                                    <h3>{{ getStatTotal('goals', i) }}</h3>
                                </td>
                                <td>
                                    <h3>{{ getStatTotal('assists', i) }}</h3>
                                </td>
                                <td>
                                    <h3>{{ getStatTotal('pims', i) }}</h3>
                                </td>
                                <td>
                                    <h3>{{ getStatTotal('gwg', i) }}</h3>
                                </td>                     
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><br>
                        <button class="btn-primary" (click)="finalizeGame(); openModal(gamesheetModal)">Submit Gamesheet</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<ng-template #gamesheetModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title pull-left">Game Results Recorded!</h3>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true"><b>X</b></span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeModal()">Back to Admin Hub</button>
        </div>
      </div>
    </div>
</ng-template>

<div *ngIf="action === 'editPlayer'">
    <app-player-form></app-player-form>
</div>