<div>
    <div class="content-box">
      <table width="80%">
        <tr>
          <td>
            <h1>Player Stats</h1>
          </td>
          <td>
            <h4>Select Season:</h4>
            <select [(ngModel)]="selectedSeason" (ngModelChange)="getPlayerStatsBySeason()">
              <option *ngFor="let season of seasons" [value]="season">{{ season }}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="content-table">
      <table class="main" width="100%">
        <tr>
          <th>#</th>
          <th></th>
          <th class="clickable" (click)="toggleSort('name')">
            Name
            <span *ngIf="sortColumn === 'name'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
          <th class="clickable" (click)="toggleSort('games_played')">
            GP
            <span *ngIf="sortColumn === 'games_played'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
          <th class="clickable" (click)="toggleSort('goals')">
            Goals
            <span *ngIf="sortColumn === 'goals'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
          <th class="clickable" (click)="toggleSort('assists')">
            Assists
            <span *ngIf="sortColumn === 'assists'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
          <th class="clickable" (click)="toggleSort('points')">
            Points
            <span *ngIf="sortColumn === 'points'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
          <th class="clickable" (click)="toggleSort('ppg')">
            PPG
            <span *ngIf="sortColumn === 'ppg'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
          <th class="clickable" (click)="toggleSort('pims')">
            PIMS
            <span *ngIf="sortColumn === 'pims'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
          <th class="clickable" (click)="toggleSort('gwg')">
            GWG
            <span *ngIf="sortColumn === 'gwg'" [class]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
          </th>
        </tr>
        <tr class="main" *ngFor="let player of players | slice:(currentPage - 1) * pageSize : currentPage * pageSize; let i = index">
          <td class="main" style="text-align: center;">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td class="main" style="text-align: center;">
            <img src="{{ player.logo }}" width="40">
          </td>
          <td class="main">
            <a [routerLink]="['/players', player.id]">
              <p><b>{{ player.name }}</b></p>
            </a>
          </td>
          <td class="main">
            <p>{{ player.games_played }}</p>
          </td>
          <td class="main">
            <p>{{ player.goals }}</p>
          </td>
          <td class="main">
            <p>{{ player.assists }}</p>
          </td>
          <td class="main">
            <p>{{ player.points }}</p>
          </td>
          <td class="main">
            <p>{{ player.ppg }}</p>
          </td>
          <td class="main">
            <p>{{ player.pims }}</p>
          </td>
          <td class="main">
            <p>{{ player.gwg }}</p>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="pagination">
      <button class="prev" [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
      <span style="font-size: 22px; font-weight: bold;">{{ currentPage }}</span>
      <button class="next" [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
    </div>
  </div>
  