
    <div class="w-auto max-w-xl py-6 pb-10">
        <label for="selectedGame" class="text-lg font-semibold text-gray-900 dark:text-white mr-4 mb-2 md:mb-0">Select game</label>
        <select required id="game_id" [(ngModel)]="selectedGame" (ngModelChange)="generateBoxscore()" name="selectedGame" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500 min-w-[200px] w-full">
            <option value="" selected disabled>Select...</option>
            <option *ngFor="let game of upcomingGames" [ngValue]="game">
                {{ game.game_id }}: {{ game.home_team }} vs. {{ game.away_team }} ({{ game.formatted_date }} &#64; {{ game.time }})
            </option>
        </select>
    </div>
    <div *ngIf="selectedGame !== null">
        <div>
            <table width="80%" align="center">
                <tr>
                    <td align="right">
                        <img [src]="matchup[0].logo" class="max-w-[150px]">
                    </td>
                   <td align="center">
                        <h1 class="text-4xl">VS.</h1>
                   </td>
                    <td align="left">
                        <img [src]="matchup[1].logo" class="max-w-[150px]">
                    </td>
                </tr>
                <tr>
                    <td  colspan="3" width="100%" align="center">
                        <h4 class="text-lg font-semibold text-gray-900 dark:text-white mr-4 mb-2 md:mb-0">Game # {{ selectedGame.game_id }}<br>
                            {{ selectedGame.formatted_date }} &#64; {{ selectedGame.time }}
                        </h4>
                    </td>
                </tr>          
            </table> 
        </div>
    
        <h2 class="mb-4 pt-8 font-bold text-2xl leading-none tracking-tight text-gray-900 dark:text-white">Rosters</h2>
        <p class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Enter stats in the table below and submit your gamesheet when ready.</p>
        
        <!-- Start of Boxscore Section -->
        <div class="w-full p-3 md:p-6 bg-white rounded-md shadow-md">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div *ngFor="let team of matchup; let i = index" class="flex items-center space-x-4 text-right">
                    <h3 class="font-bold text-xl leading-none tracking-tight text-gray-900 dark:text-white">
                        Shots on Goal
                    </h3>
                    <form class="flex items-center">
                        <div class="relative flex items-center max-w-[8rem]">
                            <button type="button" (click)="decrementShots(i)" name="shots-down" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                </svg>
                            </button>
                            <input type="text" [(ngModel)]="team.shots" name="shots-up" class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-red-500 focus:border-red-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500" placeholder="{{ team.shots }}" required />
                            <button type="button" (click)="incrementShots(i)" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Main Boxscore Table -->
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <table class="w-full text-center" *ngFor="let team of matchup; let i = index">
                    <thead class="text-sm text-gray-50 uppercase bg-gray-800 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th>#</th>
                            <th>
                                Name
                            </th>
                            <th>
                                G
                            </th>
                            <th>
                                A
                            </th>
                            <th>
                                PIMS
                            </th>
                            <th>
                                GWG
                            </th>
                            <th>
                                Absent?
                            </th>
                        </tr>
                    </thead>
                    <tr class="main" *ngFor="let player of matchup[i].roster; let j = index">
                        <td class="boxscore" style="text-align: center;">
                            {{ (j+1) }}
                        </td>
                        <td class="boxscore w-1/4" style="padding-left: 8px; text-align: left;">
                            <p class="font-semibold text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ player.name }}</p>
                        </td>
                        <td class="boxscore">
                            <input class="boxscore" type="number" (change)="statChange(player, matchup[i], $event, 'goals')">
                        </td>
                        <td class="boxscore">
                            <input class="boxscore" type="number" (change)="statChange(player, matchup[i], $event, 'assists')">
                        </td>
                        <td class="boxscore">
                            <input class="boxscore" type="number" step="2" (change)="statChange(player, matchup[i], $event, 'pims')">
                        </td>
                        <td class="boxscore">
                            <input class="boxscore" type="number" (change)="statChange(player, matchup[i], $event, 'gwg')">
                        </td>
                        <td class="boxscore">
                            <input 
                                (click)="toggleAbsent(player)" 
                                id="default-checkbox-{{j}}"
                                [checked]="player.isAbsent"
                                checked 
                                type="checkbox" 
                                value="" 
                                class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                            >                     
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3 class="text-md text-right font-semibold text-gray-900 dark:text-white mr-4 mb-2 md:mb-0">Totals:</h3>
                        </td>
                        <td>
                            <h3 class="text-md font-semibold text-gray-900 dark:text-white mr-4 mb-2 md:mb-0">{{ getStatTotal('goals', i) }}</h3>
                        </td>
                        <td>
                            <h3 class="text-md font-semibold text-gray-900 dark:text-white mr-4 mb-2 md:mb-0">{{ getStatTotal('assists', i) }}</h3>
                        </td>
                        <td>
                            <h3 class="text-md font-semibold text-gray-900 dark:text-white mr-4 mb-2 md:mb-0">{{ getStatTotal('pims', i) }}</h3>
                        </td>
                        <td>
                            <h3 class="text-md font-semibold text-gray-900 dark:text-white mr-4 mb-2 md:mb-0">{{ getStatTotal('gwg', i) }}</h3>
                        </td>                     
                    </tr>
                </table>
            </div>
            
            <!-- Goalie Table -->
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <table class="w-full text-center" *ngFor="let team of matchup; let i = index">
                    <thead class="text-sm text-gray-50 uppercase bg-gray-800 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th>#</th>
                            <th>
                                Name
                            </th>
                            <th>
                                W
                            </th>
                            <th>
                                L
                            </th>
                            <th>
                                T
                            </th>
                            <th>
                                GA
                            </th>
                            <th>
                                SA
                            </th>
                            <th>
                                SV
                            </th>
                            <th>
                                SO
                            </th>
                            <th>
                                Absent?
                            </th>
                        </tr>
                    </thead>
                    <tr class="main">
                        <td class="boxscore" style="text-align: center;">
                            1
                        </td>
                        <td class="boxscore w-1/4" style="padding-left: 8px; text-align: left;">
                            <p class="font-semibold text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ matchup[i].goalie.name }}</p>
                        </td>
                        <td class="boxscore">
                            {{ matchup[i].goalie.wins }}
                        </td>
                        <td class="boxscore">
                            {{ matchup[i].goalie.losses }}
                        </td>
                        <td class="boxscore">
                            {{ matchup[i].goalie.ties }}
                        </td>
                        <td class="boxscore">
                            {{ matchup[i].goalie.goals_against }}
                        </td>
                        <td class="boxscore">
                            {{ matchup[i].goalie.shots_against }}
                        </td>
                        <td class="boxscore">
                            {{ matchup[i].goalie.saves }}
                        </td>
                        <td class="boxscore">
                            {{ matchup[i].goalie.shutouts }}
                        </td>
                        <td class="boxscore">
                            <input 
                                (click)="toggleAbsent(matchup[i].goalie)" 
                                id="default-checkbox"
                                [checked]="matchup[i].goalie.isAbsent"
                                checked 
                                type="checkbox" 
                                value="" 
                                class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                            >                     
                        </td>
                    </tr>
                </table>
            </div>  

            <button (click)="validateGamesheet(); openModal(gamesheetModal)" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Submit Gamesheet</button>
        </div>
    </div>

    <ng-template #gamesheetModal>
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="mb-4 pt-8 font-bold text-2xl leading-none tracking-tight text-gray-900 dark:text-white">Finalize Results?</h3>
              <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true"><b>X</b></span>
              </button>
            </div>
            <div class="modal-body" *ngIf="selectedGame">
                <table width="80%" align="center">
                    <tr>
                        <td  colspan="3" width="100%" align="center">
                            <p class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Game # {{ selectedGame.game_id }}<br>
                                {{ selectedGame.formatted_date }} &#64; {{ selectedGame.time }}
                            </p>
                        </td>
                    </tr> 
                    <tr>
                        <td align="right">
                            <img [src]="matchup[0].logo" class="max-w-[100px]">
                        </td>
                       <td align="center">
                            <h1 class="text-4xl">{{ selectedGame.home_score }} - {{ selectedGame.away_score }}</h1>
                       </td>
                        <td align="left">
                            <img [src]="matchup[1].logo" class="max-w-[100px]">
                        </td>
                    </tr>         
                </table> 
            </div>
            <div class="modal-footer">
                <button type="button" (click)="finalizeGame()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus: font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Submit</button>
                <button type="button" (click)="modalRef.hide()" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:outline-none focus: font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 text-center dark:border-gray-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600">Cancel</button>
            </div>
          </div>
        </div>
    </ng-template>
