@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
  font-size: 80%;
}

.bold {
  font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

#page-wrap {
    background-color: #EEE;
    min-height: 100vh;
    padding: 0;
    width: 100vw;
}

#max-width-column {
    background-color: white;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}

#top-bar {
    border-bottom: 2px solid black;
}

#app-heading {
    margin-top: 0;
}

#content-wrap {
  max-width: 1400px;
  width: auto;
  margin: 0 auto; /* Centers the div horizontally */
  display: flex;  /* Required for align-items */
  align-items: center; /* Centers the content vertically if it's a flex container */
}


.auto-width {
  width: 100%; /* Ensure the table takes full width */
  border-collapse: collapse; /* Optional: Make sure borders don't collapse if you have borders */
}

.auto-width td {
  white-space: nowrap; /* Ensure cells only take as much space as they need */
}

.expand {
  width: 100%; /* Make this cell take up the remaining space */
  text-align: right; /* Align the content to the right */
}

.padding {
  padding: 10px;
}

.btn-primary {
  background-color: #eb9234;
  font-size: 0.9em;
  color: #fff;
  padding: 6px 10px 6px 10px;
  border: 1px solid #ad5c04;
  border-radius: 5px;

}
.btn-primary:hover {
  background-color: #ad5c04;
  transition: background-color 0.5s ease;
}
.btn-secondary {
  background-color: #f7f7f7;
  border: 1px solid #064D51;
}
.btn-secondary:hover {
  background-color: #dddddd;
  transition: background-color 0.5s ease;
  border: 1px solid #064D51;
}
.btn-secondary:focus {
  background-color: #dddddd;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  transition: box-shadow 0.5s ease;
  border: 1px solid #064D51;
}

.content-box {
    background-color: #EEE;
    border-radius: 8px;
    border: 1px solid #eb9234;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
}

.player-image {
  float: center;
  width: auto;
  height: auto;
  max-height: 115px;
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.content-table {
    background-color: #EEE;
    border: 1px solid #eb9234;
    position: relative;
    padding: 0;
    overflow: auto;
    max-height: 800px;
}

.content-table-tight {
  background-color: #EEE;
  border: 1px solid #eb9234;
  position: relative;
  padding: 0;
  overflow: auto;
  max-height: 800px;
  font-size: small;
}

.buttons-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px;
}

.buttons-container > button {
    margin-left: 8px;
}

table.main {
    background-color: #EEE;
    border-radius: 8px;
    border-collapse: collapse;
    position: sticky;
    top: 0;
}

table.boxscore {
  font-size: small;
  border: 1px solid #A9A9A9;
  padding: 4px 4px 4px 4px;
  text-align: center;
}

td.main {
  border-bottom: 1px solid #A9A9A9;
  padding: 4px 2px 4px 2px;
  font-size: 18px;   
}

td.tight {
  border-bottom: 1px solid #A9A9A9;
  padding: 2px 2px 2px 2px;
  font-size: 16px;   
}

td.boxscore {
  border: 1px solid #A9A9A9;
}

.boxscore input[type="number"] {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  appearance: none;
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.arrow-up::after {
  content: "\1F825";
}

.arrow-down::after {
  content: "\1F827";
}

label {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 .5em;
  font-weight: bold;
  color: #222;
}

/* checkbox */
input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;
  &:hover {
    border-color: #c6c6c6;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  }
  &:checked {
    background: #fff;
    &:after {
      content: url(https://dl.dropbox.com/u/15746367/images/checkmark.png);
      display: block;
      position: absolute;
      top: -6px;
      left: -5px;
    }
  }
}
.checkbox span{
  font-weight: normal;
}

.clear {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #357ae8;
  transition: color 0.3s;
  position: relative;
  &:hover {
    text-decoration: underline;
  }
}

/* The switch (the slider) */
.toggle-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Draft Dashboard */
.draft-dashboard {
  position: fixed;
}

.highlight-column {
  background-color: #EEE;
}

.draft-log {
  position: relative;
  padding: 4px 2px 4px 2px;
  overflow: auto;
  height: auto;
  max-height: 405px;
  vertical-align: text-top;
}

table.draft-log {
  background-color: #EEE;
  font-size: 0.85em;
  color: #808080;
  border: 1px solid #222222;
}

table.available-players {
  background-color: #EEE;
  font-size: 0.8em;
}

.available-players {
  position: relative;
  padding: 4px 2px 4px 2px;
  overflow: auto;
  max-height: 405px;
}

td.roster-display {
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #222222;
    border-collapse: separate;
    border-spacing: 5px;
}

.percentage {
  position: absolute;
  top: 5px;
  right: 5px; 
  padding: 2px 6px;
  border-radius: 4px;
}

  /* Modal backdrop */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Modal dialog */
.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal dialog */
.modal-dialog {
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (10px * 2));
}

/* Modal header */
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 0.5rem;
  margin: -1rem -1rem -1rem auto;
}

/* Modal body */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

/* Modal footer */
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer .btn + .btn {
  margin-left: 0.5rem;
}

.autocomplete-results {
  border: 1px solid #ccc;
  max-height: 150px;
  max-width: 405px;
  overflow-y: auto;
  position: absolute;
  width: calc(100% - 2px); /* Adjust width to match input field */
  background-color: white;
  z-index: 1000;
}

.autocomplete-results div {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-results div:hover {
  background-color: #e9ecef;
}

.popup-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  animation: fade-in-out 3s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
}

.card-container div {
  display: inline-block;
}

/* Toast Container Position */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Toast Slide-in Animation */
.toast.show {
  opacity: 1;
  transform: translateX(0);
}


/* Toast Slide-in Animation */
.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.table-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; 
}

.table-col {
  flex: 1;
  min-width: 300px; 
  padding: 10px;
  box-sizing: border-box;
}

.table-col-full {
  flex: 2;
}

@media (max-width: 768px) {
  .table-container {
      flex-direction: column;
  }

  .table-col {
      width: 100%;
      min-width: 0;
  }
}

.gameboard-container {
  /* Center the gameboard horizontally */
  width: 100%;
}

.gameboard {
  /* Default scale */
  transform: scale(1);
}

@media (max-width: 1200px) {
  .gameboard {
    transform: scale(0.9); 
  }
}

@media (max-width: 992px) {
  .gameboard {
    transform: scale(0.8); 
  }
}

@media (max-width: 768px) {
  .gameboard {
    transform: scale(0.7); 
  }
}

@media (max-width: 576px) {
  .gameboard {
    transform: scale(0.8); 
  }
}





  
  
  
  
  

