<div>
    <table width="100%">
        <tr>
            <td class="pt-10">
                <h1 class="mb-4 font-bold text-2xl leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl sm:2xl dark:text-white">BBHL Draft Simulator</h1>
                <p class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Think you can can do what a BBHL captain does? Well now you can give it a try by drafting against this super smart simulator that knows everything about the BBHL. Choose your team, randomize the order, and build your BBHL champion.</p>
            </td>
        </tr>           
    </table> 
</div>
<div class="w-full p-3 md:p-6 bg-white rounded-md shadow-md">
    
    <!-- Pre-draft control panel -->
    <ul class="flex flex-wrap space-y-4 lg:space-y-0 lg:flex-nowrap lg:justify-between pb-5">
        <li class="flex items-center space-x-4 flex-grow lg:flex-grow-0 lg:w-auto lg:mr-4">
            <label for="teams" class="text-lg font-semibold text-gray-900 dark:text-white">Choose your team:</label>
            <select 
                required 
                [(ngModel)]="draftingAs" 
                (ngModelChange)="setDraftingAs($event)" 
                [disabled]="status !== 'Ready'" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 min-w-[200px]">
                <option *ngFor="let drafter of draftOrder" [ngValue]="drafter">
                    {{ drafter['team'].name }} 
                </option>
            </select>
        </li>
        <li class="flex items-center space-x-4 flex-grow-0 mr-4">
            <div *ngIf="status === 'Ready'">
                <button type="button" (click)="generateOrder()" [disabled]="status !== 'Ready'" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-gray-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600">Randomize Draft Order</button>             
            </div>
        </li>
        <li class="flex items-center space-x-4 flex-grow-0 mr-4">
            <div *ngIf="status === 'Ready'">
                <button 
                    (click)="startDraft()" 
                    [disabled]="!draftingAs" 
                    [ngClass]="{
                        'bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-red-300': draftingAs,
                        'bg-red-400 cursor-not-allowed': !draftingAs
                    }"
                    type="button" 
                    class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Start Draft
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </button>      
            </div>           
            <div *ngIf="status === 'Complete'">
                <button type="button" (click)="resetDraft()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Reset Draft</button>
            </div>             
        </li>
        <li class="flex-grow lg:flex-grow-0 lg:ml-auto text-right">
            <h1 class="text-4xl font-bold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-4xl dark:text-white">{{ formatCountdown() }}</h1>
        </li>
    </ul>  

    <!-- Main Draftboard -->
    <table class="w-full table-fixed border-collapse">
        <thead>
            <tr>
                <th class="w-6 text-center align-bottom">
                    
                </th>
                <th *ngFor="let drafter of draftOrder" class="w-1/7 pt-3"
                [ngClass]="{ 'border-r-2 border-l-2 border-t-2 border-r-red-500 border-l-red-500 border-t-red-500 bg-gray-100': drafter === draftingAs }">
                    <div class="flex flex-col items-center">
                        <img [src]="drafter['team'].logo" width="80px" class="mx-auto">
                        <h3 class="py-3 font-semibold text-center text-[9px] md:text-base">{{ drafter['team'].captain }}</h3>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let round of rounds; let i = index" class="h-10">
                <td class="text-left text-sm font-medium">
                    <b>{{ (i + 1) }}</b>
                </td>
                <td *ngFor="let drafter of draftOrder"
                    class="border border-gray-400 text-sm text-gray-900 w-1/7"
                    [ngClass]="{'border-r-2 border-l-2 border-r-red-500 border-l-red-500 bg-gray-100': drafter === draftingAs,
                                'border-b-2 border-b-red-500' : drafter == draftingAs && i === 13 }">
                    <div class="flex justify-center items-center h-full text-[9px] md:text-base">
                        <ng-container *ngIf="drafter.roster[i+1]; else emptyCell">
                            <i>{{ drafter.roster[i+1].name }}</i>
                        </ng-container>
                        <ng-template #emptyCell></ng-template>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>      
</div>

<!-- Dashboard heading -->
<div class="py-10">
    
    <div class="table-container">
        <div class="table-col table-col-full">
            <h2 class="text-2xl font-semibold py-2">
                Dashboard 
                <span *ngIf="status === 'In Progress'" class="font-normal italic text-gray-400 text-sm">
                    Draft in progress ({{ progress }}% complete)
                </span>
            </h2>
            <div class="w-full bg-white border border-red-600 shadow-md rounded-full h-2.5 dark:bg-gray-700">
                <div class="bg-red-600 h-2.5 rounded-full" [style.width.%]="progress"></div>
            </div>
        </div>
        <div class="table-col">
            <h3 class="mb-6 text-base font-normal md:text-right text-gray-500 lg:text-xl dark:text-gray-400">
                <b>Round {{ currentRound }}, Pick {{ pickOfRound }} ({{ nextPick }})<br>
                On the clock ({{ formatCountdown() }}):</b> {{ onTheClock?.['team']?.name }}<br>
            </h3>
        </div>
    </div>
    
    <div class="table-container">
        <div class="table-col">
            <div *ngIf="displaying === 'Available'">
                <h3 class="text-lg font-semibold hidden md:block">Available Players</h3>
            </div>
            <div *ngIf="displaying === 'Roster'" class="flex items-center">
                <label for="teams" class="text-lg font-semibold text-gray-900 dark:text-white">View roster for:</label>
                <select 
                    required 
                    [(ngModel)]="onDisplay" 
                    (ngModelChange)="setOnDisplay($event)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 min-w-[200px]">
                    <option *ngFor="let drafter of draftOrder" [ngValue]="drafter">
                        {{ drafter['team'].name }}
                    </option>
                </select>
            </div>
        </div>
        
        <!-- Display Toggle Switch-->
        <div class="table-col text-left md:text-right">
            <div class=" inline-flex rounded-sm" role="group">
                <button (click)="setDisplay('Available')" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-2 focus:ring-red-700 focus:text-red-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-red-500 dark:focus:text-white">
                    <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                    </svg>
                    Players
                </button>
                <button (click)="setDisplay('Roster')" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-2 focus:ring-red-700 focus:text-red-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-red-500 dark:focus:text-white">
                    <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                    Rosters
                </button>
            </div>
        </div>

        <div class="table-col">
            <h3 class="px-5 text-lg font-semibold hidden md:block">Draft Log</h3>
        </div>
    </div>

    <div class="table-container">
        <div class="table-col table-col-full">
            
            <!-- Start Available Player View -->
            <div *ngIf="displaying === 'Available'" class="relative overflow-x-auto shadow-md sm:rounded-lg rounded-lg max-h-[405px]">
                <h3 class="py-5 text-lg font-semibold block md:hidden">Available Players</h3>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-50 uppercase bg-gray-800 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="sticky top-0 bg-gray-800">
                            <th scope="col" (click)="toggleSort('draft_row')" class="px-6 py-3 hover:bg-gray-700 cursor-pointer" [ngClass]="{'bg-gray-700': sortColumn === 'draft_row'}">
                                <div class="flex items-center">
                                    #
                                        <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                        </svg>
                                </div>
                            </th>
                            <th scope="col" (click)="toggleSort('name')" class="px-6 py-3 hover:bg-gray-700 cursor-pointer" [ngClass]="{'bg-gray-700': sortColumn === 'name'}">
                                <div class="flex items-center">
                                    Name
                                        <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                        </svg>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Position
                            </th>
                            <th scope="col" (click)="toggleSort('games_played')" class="px-6 py-3 hover:bg-gray-700 cursor-pointer" [ngClass]="{'bg-gray-700': sortColumn === 'games_played'}">
                                <div class="flex items-center">
                                    GP
                                        <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                        </svg>
                                </div>
                            </th>
                            <th scope="col" (click)="toggleSort('goals')" class="px-6 py-3 hover:bg-gray-700 cursor-pointer" [ngClass]="{'bg-gray-700': sortColumn === 'goals'}">
                                <div class="flex items-center">
                                    G
                                        <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                        </svg>
                                </div>
                            </th>
                            <th scope="col" (click)="toggleSort('assists')" class="px-6 py-3 hover:bg-gray-700 cursor-pointer" [ngClass]="{'bg-gray-700': sortColumn === 'assists'}">
                                <div class="flex items-center">
                                    A
                                        <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                        </svg>
                                </div>
                            </th>
                            <th scope="col" (click)="toggleSort('points')" class="px-6 py-3 hover:bg-gray-700 cursor-pointer" [ngClass]="{'bg-gray-700': sortColumn === 'points'}">
                                <div class="flex items-center">
                                    PTS
                                        <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                        </svg>
                                </div>
                            </th>
                            <th scope="col" (click)="toggleSort('ppg')" class="px-6 py-3 hover:bg-gray-700 cursor-pointer" [ngClass]="{'bg-gray-700': sortColumn === 'ppg'}">
                                <div class="flex items-center">
                                    PPG
                                        <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                                            <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                        </svg>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of available" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-4 py-3">
                                {{ player.draft_row }}
                            </td>
                            <td scope="row" class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                                {{ player.name }}
                            </td>
                            <td class="px-4 py-3">
                                {{ player.position }}
                            </td>
                            <td class="px-4 py-3">
                                {{ player.games_played }}
                            </td>
                            <td class="px-4 py-3">
                                {{ player.goals }}
                            </td>
                            <td class="px-4 py-3">
                                {{ player.assists }}
                            </td>
                            <td class="px-4 py-3">
                                {{ player.points }}
                            </td>
                            <td class="px-4 py-3">
                                {{ player.ppg }}
                            </td>
                            <td class="px-4 py-3 text-right">
                                <button type="button" 
                                        class="px-3 py-1 text-sm font-medium text-center text-white rounded-lg focus:outline-none"
                                        (click)="userSelects(player)"
                                        [ngClass]="{
                                            'bg-red-700 hover:bg-red-800 focus:ring-red-300': !isButtonDisabled(player),
                                            'bg-red-400 cursor-not-allowed': isButtonDisabled(player)
                                        }" 
                                        [disabled]="isButtonDisabled(player)">
                                    Draft
                                </button>
                        
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Start Roster View -->
            <div *ngIf="displaying === 'Roster'">
                <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <table>
                        <tr>
                            <td align="left">
                                <img [src]="onDisplay?.['team']?.logo" class="w-20 h-20 pb-2">
                            </td>
                            <td>
                                <h2 class="text-2xl font-semibold py-2 px-2">
                                    {{ onDisplay?.['team']?.name }}
                                </h2>
                            </td>
                        </tr>                            
                    </table>
                    <table width="100%">
                        <tr>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[0]?.name ?? '' }}
                                </div>
                            </td>                                                                                 
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[1]?.name ?? '' }}
                                </div>
                            </td>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[2]?.name ?? '' }}
                                </div>
                            </td>
                            <td rowspan="3" align="right" style="padding-top: 25px;" class="hidden md:table-cell">
                                <h4 class="font-semibold text-3xl">
                                    <span class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Forwards</span><br>  
                                    {{ onDisplayF?.length ?? 0 }}/9
                                </h4>
                            </td> 
                        </tr>
                        <tr>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[3]?.name ?? '' }}
                                </div>
                            </td>                                                                                 
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[4]?.name ?? '' }}
                                </div>
                            </td>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[5]?.name ?? '' }}
                                </div>
                            </td> 
                        </tr>
                        <tr>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[6]?.name ?? '' }}
                                </div>
                            </td>                                                                                 
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[7]?.name ?? '' }}
                                </div>
                            </td>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayF?.[8]?.name ?? '' }}
                                </div>
                            </td> 
                        </tr>
                        <tr>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="mt-8 relative block text-sm text-center text-gray-900 bg-white rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayD?.[0]?.name ?? '' }}
                                </div>
                            </td>                                                                                 
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="mt-8 relative block text-sm text-center text-gray-900 bg-white rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayD?.[1]?.name ?? '' }}
                                </div>
                            </td>
                            <td class="w-1/4 ">

                            </td>
                            <td rowspan="3" align="right" style="padding-top: 25px;" class="hidden md:table-cell">
                                <h4 class="font-semibold text-3xl">
                                    <span class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Defensemen</span><br>  
                                    {{ onDisplayD?.length ?? 0 }}/5
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayD?.[2]?.name ?? '' }}
                                </div>
                            </td>                                                                                 
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayD?.[3]?.name ?? '' }}
                                </div>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="relative block text-sm text-center text-gray-900 rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayD?.[4]?.name ?? '' }}
                                </div>
                            </td>  
                            <td colspan="2">
                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/4 px-0.5">
                                <div
                                    class="mt-8 relative block text-sm text-center text-gray-900 bg-white rounded-sm border border-gray-500 px-4 py-2.5 w-full dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
                                    style="min-height: 2.5rem;">
                                    {{ onDisplayG?.[0]?.name ?? '' }}
                                </div>
                            </td>  
                            <td colspan="2">

                            </td>
                            <td align="right" class="hidden md:table-cell"> 
                                <h4 class="font-semibold text-3xl">
                                    <span class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Goalies</span><br>  
                                    {{ onDisplayG?.length ?? 0 }}/1
                                </h4>
                            </td>
                        </tr>
                        <tr class="md:hidden">
                            <td>
                                <h4 class="font-semibold text-3xl">
                                    <span class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Forwards</span><br>  
                                    {{ onDisplayF?.length ?? 0 }}/9
                                </h4>
                            </td>
                            <td>
                                <h4 class="font-semibold text-3xl">
                                    <span class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Defensemen</span><br>  
                                    {{ onDisplayD?.length ?? 0 }}/5
                                </h4>
                            </td>
                            <td>
                                <h4 class="font-semibold text-3xl">
                                    <span class="mb-6 text-base font-normal text-gray-500 lg:text-xl dark:text-gray-400">Goalies</span><br>  
                                    {{ onDisplayG?.length ?? 0 }}/1
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <!-- Draft Log Entries -->
        <div class="table-col">
            <div class="draft-log md:px-5">
                <h3 class="py-5 text-lg font-semibold block md:hidden">Draft Log</h3>
                <ul class="w-full text-sm font-medium text-gray-500 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li *ngFor="let entry of draftLog; let i = index" class="w-full px-2 py-2 italic border-b border-gray-200 rounded-t-lg dark:border-gray-600">{{ draftLog[i] }}</li>
                </ul>  
            </div> 
        </div>
    </div>

    <!-- Toast Message -->
    <div #toastSuccess id="toast-success" class="toast hidden items-center justify-center w-full max-w-sm p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            <span class="sr-only">Check icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">{{ toastMessage }}</div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" aria-label="Close" (click)="dismissToast(toastSuccess)">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>
    </div>

    <!-- On the Clock Toast Message -->
    <div #toastWarning id="toast-warning" class="toast hidden items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
            </svg>
            <span class="sr-only">Warning icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">{{ toastMessage }}</div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-warning" aria-label="Close" (click)="dismissToast(toastWarning)">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>
    </div>
    
</div> 
